{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load socialaccount %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<div class="container d-flex justify-center items-center" style="margin-top: 30px;">
    <form action="" class='w-80 d-flex flex-col gap-4' method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="mb-4 decoration-black text-3xl font-bold text-center">Sign UP</legend>
            {{ form|crispy }}
        </fieldset>
        {% comment %} <div class="form-group" id="signup-button"> {% endcomment %}
            <button class="rounded-md w-80 h-10 mx-auto bg-sky-300 text-white text-base font-bold cursor-pointer">Sign Up</button>
        {% comment %} </div> {% endcomment %}
        <div class="form-group  d-flex justify-center items-center text-xl">
            <small class="text-muted ml-3">Already have an account? <a href="{% url 'login' %}" class='font-bold'>Sign In</a></small>
        </div>
    </form>
</div>
<div class='w-100 d-flex justify-center items-center mt-1 mb-5'>
    <a class='text-center d-flex justify-center items-center w-80 h-10 rounded-full border border-indigo-600' href="{% provider_login_url 'google' next='/' method='oauth2' %}" ><img src={% static '../static/googleIcon.png'%} class='w-5 h-5 mr-4' /> Sign up with</a>

</div>
{% endblock %}